/*
CSE 154: Creative Project Ajax
Name: Daniel Fonseca Yarochewsky
TA: Kyle
This is a stylesheet for the library resources web app.
*/

body {
  background-image: url("suzallo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 10%;
  top: 100px;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
}

button.modal-close {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("x-button.png");
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

button.modal-close, button.modal-open {
  cursor: pointer;
}

button.modal-close:focus, button.modal-open {
  outline: none;
}

button.modal-open {
  font-size: 22pt;
  background: none;
  border: none;
  color: white;
  width: 100%;
  margin-top: 2px;
}
/*button.modal-close:hover{
  outline-color: #cc2121;
}*/

.modal-content {
  margin-top: 100px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  max-height: 80%;
}

div#searcharea {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div#results {
  margin-top: 100px;
  font-size: 30pt;
  margin-left: auto;
  margin-right: auto;
}

div#records {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 120px;
  justify-content: flex-start;
}

h1, h2, footer, div#result {
  color: white;
  font-weight: 100;
}

h1 {
  margin-top: 80px;
  margin-bottom: 0px;
  font-size: 45pt;
}

h2 {
  margin-top: 10px;
  font-size: 30pt;
}

footer {
  font-style: italic;
  font-size: 10pt;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px;
  margin-top: 100px;
}

.footer-results-mode {
  color: black;
}

.search {
  font-size: 25pt;
  font-family: inherit;
  padding: 5px;

}

button.search {
  vertical-align: top;
  border: 0px;
  color: white;
  background-color: #cc2121;
  margin-left: 5px;
}

button.search:disabled {
  color: gray;
}

input.search {
  background-color: rgba(255, 255, 255, 0.4);
}

.search-onboard-mode {
  border-style: hidden;
}

.search-results-mode {
  border-style: solid;
}

input.search, record-title {
  font-weight: bold;
}

.search:focus {
  outline-color: white;
}

.hidden {
  display: none;
}

.results-mode {
  margin-top: 10px;
}

.record-title-overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2)
}

span.record-title {
  color: white;
  font-size: 20pt;
  margin-top: 60px;
  overflow: hidden;
}

.record-description, div#number-found {
  color: black;
}

div#number-found {
  margin-bottom: 50px;
}

.record-description {
  position: absolute;
  font-size: 40%;
  color: white;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.record-description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  max-height: 50%;
  margin: auto;
  max-width: 90%;
}

.record {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 10px;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.record:hover {
  box-shadow: 10px 10px 15px gray;
}

.record:hover .record-title {
    display: none;
}

.record:hover .record-description {
  display: block;
}

div#loading {
  margin-top: 20px;
  font-size: 30pt;
}
